<div class="login-container">
    <!-- Partie image -->
    <div class="image-side">
        <img src="../../../../assets/images/login.png" alt="Image de connexion">
    </div>

    <!-- Partie formulaire -->
    <div class="form-side">
        <h1>Connexion</h1>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" 
                       id="email" 
                       placeholder="example@gmail.com" 
                       class="form-control custom-placeholder" 
                       formControlName="email">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label> 
                <input type="password" 
                       id="password" 
                       placeholder="********" 
                       class="form-control custom-placeholder" 
                       formControlName="password"
                       required>
            </div>

            <!-- Message d'erreur pour le champ mot de passe -->
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-warning">
                <small *ngIf="loginForm.get('password')?.errors?.['required']">Le mot de passe est requis.</small>
            </div>

            <!-- Afficher un message d'erreur général si le login échoue -->
            <div *ngIf="loginError" class="text-warning mb-3">
                <small>Erreur de connexion : vérifiez vos identifiants et réessayez.</small>
            </div>

            <button type="submit" class="btn btn-primary">Connexion</button>
        </form>
    </div>
</div>
